/*      ==================== variables ===================*/
header {
  color: #0094ff; }

/* ================== Nested Rules =====================*/
#dvMain h1 {
  color: #0094ff; }

#dvMain td {
  color: #00ff90; }

#dvMain font {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold; }

/* =================== Scope ==================*/
#dvMain p {
  color: #d880e5; }

#dvMain pre {
  color: #0094ff; }

#dvMain span {
  color: #2d06f5; }

/*================== Referencing Parent Selectors: & #parent-selector ============*/
#dvMain a {
  color: blue;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, "Verdana", sans-serif; }
  #dvMain a:hover {
    color: blue;
    font-weight: bold; }

/* =============== Wrapping of data to selector ===================*/
#dvMain {
  background-color: #eeeeee;
  padding: 3%; }

/*  ========================== Mapping function to get particular value ===============   */
#dvMain {
  color: #f44336; }

