@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <header>Welcome To SAAS Samples</header>
    </div>
    <div class="row" id="dvMain">
        <h1>Welcome To GGK</h1>
        <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anna</td>
                        <td>Pitt</td>
                        <td>35</td>
                        <td>New York</td>
                        <td>USA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pre>Socpe of sass variable is with in the element and if we declare it as a !global then it's value would be replace with new one. Otherwise it effects to local scope and remains as declared.</pre>
        <span>Here This span was updated the color using variable global Scope. Synatx($spnColor: #2d06f5 !global;)</span>
        <h4>Referencing Parent Selectors: & #parent-selector</h4>
        <pre>
        & is used to identify the parent in the nestead or normal group here parent for a tag is which is written at the starting in nestead group.
<a href="http://www.google.com">Click Here To Go to Google page</a></pre>

        <h2> Conditional Statements Using for,while,if,else,elseif </h2>
        <h1>Testing While loop and for loop conditions</h1>
        <h2>Testing While loop and for loop conditions</h2>
        <h3>Testing While loop and for loop conditions</h3>
        <h4>Testing While loop and for loop conditions</h4>
        <h5>Testing While loop and for loop conditions</h5>
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
            <li>e</li>
            <li>f</li>
            <li>g</li>
            <li>h</li>
            <li>i</li>
            <li>j</li>
            <li>k</li>
            <li>l</li>
        </ul>
        <div id="mixins">
            <h1>Mixins</h1>
            <pre>
             mixin allows you to create reusable chunks of CSS. Being able to do this will help you to avoid writing repetitive code
reffer the fallowing link 
<a href="https://www.sitepoint.com/sass-basics-the-mixin-directive/">Minxis Tutorial</a>
        </pre>
        </div>
    </div>
</div>


